@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Brass Duck Fantasy Football</h1>
    <p class="lead">Welcome to the battle for the coveted Brass Duck!</p>
    
</div>

<div>
    @Html.ActionLink("Player Pool", "Index", "Players")<br />
    @Html.ActionLink("League", "Index", "Leagues")<br />
    @Html.ActionLink("Team", "Index", "Teams")
</div>